
      
   <div class="_pages login_page">
      <!-- <div class="container"> -->
          <div class="row align-items-center justify-content-center">
              <div  class="col-lg-1">&nbsp;</div>
              <div  class="col-sm-10 col-md-12 col-lg-5" >
                 <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordSubmit()"  class="width-80">
                   
 <div class="_ttls">
   <label>Forgot Password ?</label>
   <h4> Nothing to worry about… </h4>
</div>
<p>
   Enter your email address and we will send you
   the reset link.
</p>
           
           
                  
                      <div class="form-group">
                       <label for="inputAddress">Email Address</label>
                       <input type="text" class="form-control" placeholder="example@gmail.com" formControlName="email"
                          >
                          <div *ngIf="(submitted || formInputs['email'].touched) && formInputs['email'].errors">
                           <div *ngIf="formInputs['email'].errors['required']" [ngClass]="{'error': true}">Email is required.
                           </div>
                           <div *ngIf="formInputs['email'].errors['email']" [ngClass]="{'error': true}">Email is not valid.
                           </div>
                        </div>
                    </div>
               
                   
                    
                     <div class="bn-btn">
                        <button class=" btn  btn_default theme w-100">Send Reset Link</button>
           
                     </div>
  
                   
               
                  </form>
               </div>
               <div class="col-lg-1">&nbsp;</div>
           
               <div class="col-12 col-sm-12 col-md-12 col-lg-5 desktop-feed">
                 <!-- <div class="_ttls">
                    <label>Welcome to Matutto</label>
                    <h3>Please create your account</h3>
                 </div> -->
                 <img src="assets/images/signup-right.png" alt="login" class="image-right">
              </div>
            </div>
       
     
      <!-- </div> -->
   </div>
   
   
   <!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px' }"></ngx-loading> -->