<section>
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <h1 class="hiw ibm text-center video-subtitle mb-3 mt-3">Moving to <span
          style="color:#ffa400;
          ">London</span><br><i><span style="color:#037f92;background: url('../../../assets/images/blue-bg.png') center no-repeat;background-size:cover">simplified</span></i></h1>
      <p class="ibm text-center mb-4" style="
    font-size: 30px;
"><b>All you need</b> to relocate to London <u>in one place</u></p>
<div class="row justify-content-center">
  <div class="col-12 col-lg-6 mb-2">
    <p class="libre text-center para-side"><img class ="relocate-icons"src ="assets/images/tick.png">Step-by-Step Checklist</p>
  </div>
  <div class="col-12 col-lg-6 mb-2">
    <p class="libre text-center para-side" ><img class ="relocate-icons" src ="assets/images/call.png">Expat Advice</p>
  </div>
  <div class="col-12 col-lg-8 mb-2 ">
    <p class="libre text-center para-side"><img class ="relocate-icons" src ="assets/images/lock.png">Hacks to start living like a local </p>
  </div>
</div>
<div class="subscribe_btn justify-content-center d-flex align-items-center w-100 mr-below"><button
  class="free-signup-button" routerLink="/signup">Free Sign Up</button>
</div>
    </div>
    <div class="col-12 col-lg-4 mt-5 mb-4"><img src="assets/images/moving-london.png" style="
    position: relative;
    /* left: -50%; */
    width: 100%;
"></div>
  </div>
  </section>
  <section class="py-5"  style="background: url('../../../assets/images/orange-background.png') center no-repeat;background-size:cover">
    <h3 class="hiw ibm text-center top-voted-title " id="toNeighbours"> Guiding <span style="color:#00abab;;">your</span> relocation journey</h3>
    <div class="row justify-content-center">
      <div class="col-10 desktop-feed">
        <img src="assets/images/relocation.png" style="width:100%">
      </div>
      <div class="col-12 mobile-tab">
        <img src="assets/images/Housing-banking_mobile.png" style="width:100%">
      </div>
      <!-- <div class="col-10 mobile-tab mb-5">
        <img src="assets/images/banking_mobile.png" style="width:100%">
      </div> -->
    </div>
    <div class="subscribe_btn btn justify-content-center d-flex align-items-center w-100 "><button
      class="font-weight-bold btn_ Get-the-checklist" routerLink="/signup">Get the Checklist</button>
    </div>
    </section>
    <section>
    <h3 class="hiw ibm text-center top-voted-title mb-5 mt-5" id="toNeighbours">Feel<span style="color:#00abab;"> prepared</span>  for your move
    </h3>
    
    <div >
      <div class="row justify-content-center ">
     
        <div class="col-10 col-lg-10"  style="background-color:#f1f1f1;padding-top:2rem;padding-bottom:2rem;border-radius:30px">

              <div class="the-basics"><h2 class="font-weight-bold ibm" style="background: url('../../../assets/images/blue-bg.png') center no-repeat;background-size:cover;letter-spacing:3px;">THE BASICS</h2></div>
              <div class="row justify-content-center">
                <div class="col-12 col-lg-3 mb-3">
                  <p class="ibm text-center relocate-p"><img class ="relocate-icons"src ="assets/images/housing.png">Housing</p>
                </div>
                <div class="col-12 col-lg-3 mb-3">
                  <p class="ibm text-center relocate-p"><img class ="relocate-icons" src ="assets/images/banking.png">Banking</p>
                </div>
                <div class="col-12 col-lg-5 mb-3 ">
                  <p class="ibm text-center relocate-p"><img class ="relocate-icons" src ="assets/images/national_insurance.png">National Insurance Number</p>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-12 col-lg-3 mb-3">
                  <p class="ibm text-center relocate-p"><img class ="relocate-icons"src ="assets/images/healthcare.png">Healthcare</p>
                </div>
                <div class="col-12 col-lg-3 mb-3 relocate-p">
                  <p class="ibm text-center"><img class ="relocate-icons" src ="assets/images/phone_plans.png">Phone Plans</p>
                </div>
               
              </div>
     
        </div>

      </div>
  
  
      <!-- <div class="three-btn"><i class="fa fa-bars" aria-hidden="true"></i> Menu</div> -->
  
  

    </div>
    <br>
    <div >
      <div class="row justify-content-center mt-5">
     
        <div class="col-10 col-lg-10" style="background-color:#f1f1f1;padding-top:2rem;padding-bottom:2rem;border-radius:30px">

              <div class="the-basics"><h2 class="font-weight-bold ibm" style="background: url('../../../assets/images/blue-bg.png') center no-repeat;background-size:cover;letter-spacing:3px;
              ">SETTLING IN</h2></div>
              <div class="row justify-content-center">
                <div class="col-12 col-lg-3 mb-3">
                  <p class="ibm text-center relocate-p"><img class ="relocate-icons"src ="assets/images/getting_around.png">Getting around </p>
                </div>
                <div class="col-12 col-lg-3 mb-3">
                  <p class="ibm text-center relocate-p"><img class ="relocate-icons" src ="assets/images/where_to_shop.png">Where to shop</p>
                </div>
                <div class="col-12 col-lg-4 mb-3 ">
                  <p class="ibm text-center relocate-p"><img class ="relocate-icons" src ="assets/images/discounts.png">Discounts</p>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-12 col-lg-4 mb-3">
                  <p class="ibm text-center relocate-p"><img class ="relocate-icons"src ="assets/images/essentials_apps.png">Essential Apps</p>
                </div>
                <div class="col-12 col-lg-3 mb-3">
                  <p class="ibm text-center relocate-p"><img class ="relocate-icons" src ="assets/images/meet_people.png">Meet People</p>
                </div>
                <div class="col-12 col-lg-3 mb-3">
                  <p class="ibm text-center relocate-p"><img class ="relocate-icons" src ="assets/images/explore_the_city.png">Explore the city</p>
                </div>
               
               
              </div>
     
        </div>

      </div>
  
  
      <!-- <div class="three-btn"><i class="fa fa-bars" aria-hidden="true"></i> Menu</div> -->
  
  
    
    </div>
    <div class="subscribe_btn justify-content-center d-flex align-items-center w-100 mt-5 mb-5"><button
      class="free-signup-button" routerLink="/signup">Free Sign Up</button>
    </div>
  </section>
  <section class="py-5"  style="background: url('../../../assets/images/orange-background.png') center no-repeat;background-size:cover">
    <h3 class="hiw ibm text-center top-voted-title" id="toNeighbours">Talk to <span style="color:#00abab;;">experts</span>  for advice</h3>
    <div class="row justify-content-center">
      <div class="col-10  desktop-feed">
        <img src="assets/images/experts.png" style="width:100%">

      </div>
      <div class="col-10  mobile-tab mb-5">
        <img src="assets/images/experts_mobile.png" style="width:100%">

      </div>
    </div>
    <div class="subscribe_btn justify-content-center d-flex align-items-center w-100 "><button
      class="font-weight-bold Get-Advice" routerLink="/signup">Get Advice</button>
    </div>
    </section>

      <h3 class="hiw ibm text-center top-voted-title mb-3 mt-5" id="toNeighbours"> What  <span style="color:#00abab;;">our customers</span>  say</h3>
      <div   >
        <div class="row justify-content-center " >
          <div class="col-1 col-lg-1">
            <span (click)="previous()" class="p-cursor text-center"><i class="fa fa-arrow-left next-icon"></i></span>
    
    </div>
    <div class="col-10 col-lg-10">
      <ngx-slick-carousel
      class="carousel "
      #slickModal4="slick-carousel"
      [config]="slideConfig"
    >

      <div ngxSlickItem *ngFor="let slide of slides;let i = index" class="slide">
    
        <div class="_sld-item text-center corousel-card" >
         
         <div>
            <img
           src="{{slide.img}}"
              alt=""
              class="m-auto slide-img" style="width:30%">
    <p class="libre">
          <b>{{slide.title}}</b><br>
          {{slide.subtitle}}
        </p>
      </div>
         
          <!-- <ngx-picture
          src="{{baseUrl}}/storage/user/{{slide.user.image}}"
          alt="test"
          class="m-auto slide-img"
          [lazyLoad]="true"
          #picture 
        ></ngx-picture> -->
    
    
         
        
          <!-- <h5 style="color: black" class="tt mt-2" routerLink="/host/{{slide.user.host_url}}">{{ slide.user.full_name }}</h5> -->
     
          <!-- <p>{{ slide.date }}</p> -->
        </div>
    
         
      </div>
    
    
    </ngx-slick-carousel>
    </div>
    <div class="col-1 col-lg-1">
      <span (click)="next()" class="p-cursor text-center"><i class="fa fa-arrow-right prev-icon"></i></span>
    
    </div>
    </div>

    <div class="subscribe_btn justify-content-center d-flex align-items-center w-100 mb-5 mt-3"><button
      class="font-weight-bold Get-Started" routerLink="/signup" >Get Started</button>
    </div>
    
    
                         <!-- <div class="three-btn"><i class="fa fa-bars" aria-hidden="true"></i> Menu</div> -->
    
    
  
    </div>







      <section class="py-5"  style="background: url('../../../assets/images/orange-background.png') center no-repeat;background-size:cover">
        <h3 class="hiw ibm text-center top-voted-title mb-3 mt-3" id="toNeighbours"> A <span style="color:green"><img src="assets/images/techstars.png"></span> backed company</h3>
        <div class="row justify-content-center">
          <div class="col-12 col-lg-5">
            <img src="assets/images/techstars_london.png" style="width:100%">
    
          </div>
          <div class="col-12 col-lg-4 text-center">
           <p class="libre text-center mt-5" style="font-size:24px;padding:20px">
            
            
            In September 2022, the Matutto team joined Techstars London to accelerate the startup. 

            </p>
            
            
            <p class="libre text-center " style="font-size:24px;padding:20px">
              “Between us, we have been expats a total of 6 times. We know how stressful and frustrating the process can be.<b> Expats deserve to enjoy the exciting journey of moving abroad</b> without breaking the bank!”   
              </p>
    
          </div>
        </div>
       
        </section>

    