<section class="mt-5">
  <div class="container">
    <!-- Main title -->
    <h1 class="main-title ibm text-center subtitle mb-4 mt-3">
      Your Matutto Plan
    </h1>

	<div>
    <div class="subscribe_btn justify-content-center d-flex w-100 mb-4">
      <button
        class="free-plan"
        style="
          color: black;
          border: 1px solid #fda832;
          background-color: white;
          padding: 8px 65px;
        "
      >
        Free
      </button>
    </div>

    <p class="libre text-center mb-4">Upgrade to unlock more benefits</p>
    <div class="row justify-content-center">
      <div class="col-10 col-lg-4 col-md-4">
        <div class="pricing" style="background-color: white">
          <div class="ibm">Basic</div>
          <div class="package_name ibm font-weight-bold">Free</div>

          <p style="margin-bottom: 70px">Forever</p>
          <div
            style="
              border-radius: 30px;
              margin-left: 2.5%;
              text-align: center;
              /* border: 1px; */
              background-color: #ffe9c9;
              width: 95%;
              padding: 10px;
              color: #1d2896;
            "
          >
            <button class="free-choose-plan">
              Choose Plan
              <img src="assets/images/blue-arrow.png" width="60" height="40" />
            </button>
          </div>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Moving Checklist
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Expert London Guide
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Tips from other expats
          </p>
        </div>
      </div>
      <div class="col-10 col-lg-4 col-md-4">
        <div class="pricing featured" style="background-color: #ffe9c9">
          <div class="listing-badges">
            <span class="featured">Popular</span>
          </div>
          <div class="ibm">Mover</div>
          <div class="package_name ibm font-weight-bold">£66/month</div>
          <div
            class="package_name ibm font-weight-bold"
            style="font-size: 18px"
          >
            for Three months
          </div>

          <p>
            Or £99 / month<br />
            for One month
          </p>
          <div
            style="
              border-radius: 30px;
              margin-left: 2.5%;
              text-align: center;
              color: white;
              font-weight: bold;
              /* border: 1px; */
              background-color: #00abab;
              width: 95%;
              padding: 10px;
            "
          >
            <button class="mover-choose-plan">
              Choose Plan
              <img src="assets/images/white-arrow.png" width="60" height="40" />
            </button>
          </div>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Moving Checklist
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Expert London Guide
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Tips from other expats
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Two Live Group Q&A <br />
            <span style="margin-left: 50px"></span>Sessions
            <span style="font-size: 12px">Per Month</span>
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i
            ></span>
            One Personal Advisory <br />
            <span style="margin-left: 50px"> Call </span>
            <span style="font-size: 12px"> Per Month</span>
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Personalised support <br />
            <span style="margin-left: 50px; font-size: 12px">
              Available Everyday</span
            >
          </p>
        </div>
      </div>
      <div class="col-10 col-lg-4 col-md-4">
        <div class="pricing" style="background-color: white">
          <div class="ibm">Premium</div>
          <div class="package_name ibm font-weight-bold">£197/month</div>
          <div
            class="package_name ibm font-weight-bold"
            style="font-size: 18px"
          >
            for Three months
          </div>

          <p>
            Or £299 / month<br />
            for One month
          </p>
          <div
            style="
              border-radius: 30px;
              margin-left: 2.5%;
              text-align: center;
              /* border: 1px; */
              background-color: #ffe9c9;
              width: 95%;
              padding: 10px;
              color: #1d2896;
            "
          >
            <button class="premium-choose-plan">
              Choose Plan
              <img src="assets/images/blue-arrow.png" width="60" height="40" />
            </button>
          </div>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Moving Checklist
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Expert London Guide
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Tips from other expats
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Two Live Group Q&A <br />
            <span style="margin-left: 50px"></span>Sessions
            <span style="font-size: 12px">Per Month</span>
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >One Personal Advisory <br />
            <span style="margin-left: 50px"> Call </span>
            <span style="font-size: 12px"> Per Month</span>
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Personalised support <br />
            <span style="margin-left: 50px; font-size: 12px">
              Available Everyday</span
            >
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >School Search Support
          </p>
          <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
            <span
              style="
                color: #008037;
                font-size: 18px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 1px;
                padding-bottom: 1px;
                border-radius: 50%;
                border: 2px solid #008037;
                margin-right: 20px;
              "
              ><i class="fa fa-check"></i></span
            >Relocating Pets Support
          </p>
        </div>
      </div>
    </div>
	</div>

    <!-- <h1 class="main-title ibm text-center video-subtitle mb-3 mt-3"><span style="color:#ffa400">20x</span> times  
            <i><span style="color:#037f92;background: url('../../../assets/images/blue-bg.png') center no-repeat;background-size:cover">Cheaper</span></i><br> than a relocation agency</h1>

            <p class="libre text-center" style="font-size:24px">The modern way to move abroad.</p>

            <div class="row mb-3 " style="display: flex;
            justify-content: flex-end;">
<div class="col-12 col-lg-3 text-center mb-2">
<div style="    background-color: #ffe9c9;
border-radius: 25px;
padding: 12px;">Relocation Agencies*</div>
</div>
<div class="col-12 col-lg-3 text-center">
    <div style="background-color:#ffe9c9;border-radius:30px"><img  class="p-2"src="assets/images/Icon-l.png" style="width: 66%;"></div>

    
</div>
            </div> -->


<div>

	<!-- <div class="subscribe_btn justify-content-center d-flex w-100 mt-4 mb-4">
		<button
		  class="free-plan"
		  style="
			color: black;
			border: 1px solid #fda832;
			background-color: white;
			padding: 8px 65px;
		  "
		>
		  Mover
		</button>
	  </div>
			<div class="row justify-content-center" >
           
				<div class="col-12 col-lg-6 ">
					<table class="table bg-white" style="border-radius:30px;" >
				  
						<tbody>
							<tr class="text-center p-2"  style="border-bottom:2px solid #f1f1f1">
					 
								<td class="  w-25" > Plan Started</td>
								<td class="  fw-bold w-50"> -</td>
								
							  </tr>
						  <tr class="text-center p-2" style="border-bottom:2px solid #f1f1f1">
							<td class="   w-25">Plan Ends</td>
							<td class="  fw-bold w-50"> -</td>
						</tr>
						  <tr class="text-center p-2">
							<td class=" w-25  ">Days Remaining</td>
							<td class="  fw-bold w-25"> 12 Days</td>
						</tr>
						
						 
						</tbody>
					  </table>
				</div>
			  </div>
			
			  <div class="subscribe_btn justify-content-center d-flex w-100 mt-2 mb-5">
				<button
				  class="see-other-plans"
				
				>
				  See Other Plans
				</button>
			  </div> -->

			  </div>
  </div>
</section>
