	<div class="container">

		<h1 class="hiw ibm mt-4 mb-4"> Words from the <span style="color:#ffa400">Matutto</span> Team</h1>
		<div class="row justify-content-center">
			<div class="col-12 col-sm-12 col-md-12 col-lg-10 mb-5" >
			<h2 class="font-weight-bold ibm mt-3">			{{blog.title}}
			</h2>	
			<p>{{blog.created_at*1000 | date:'d MMM, y'}}</p>
			<div [innerHtml]="blog.description" id="userMessagesWrap"></div>
			<img src="{{env.url}}/storage/category/{{blog.image}}" class="text-center" style="width:100%">
			</div>
			<!-- <div class="col-12 col-sm-12 col-md-12 col-lg-4">
				<img src="assets/images/meetingsabove.png">	

			</div>

			<div class="col-12 col-sm-12 col-md-12 col-lg-4">
				<img src="assets/images/meetingsabove.png">	

			</div> -->
		</div>

		<!-- <div class="common-pagination text-right pt-2">

			<pagination-controls *ngIf="limit < total" (pageChange)="getBlogs($event)">
			</pagination-controls>
		 </div> -->
	</div>



<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px' }">Please do not refresh or close browser.this is
	taking some time</ngx-loading>
