<div class="_pages expatadvice_page">
   

   <h3 class="main-subtitle ibm text-center"> Speak to someone about your move to London </h3>

   <h5 class="main-subtitle text-center"> Learn tips about London from other expats and ask any questions </h5>
<br>

<div class="row justify-content-center snd_msg_wrap" ><div  class="col-12 col-lg-1 mt-2 text-center"><img  src="assets/images/message.png"></div><div  class="col-12 col-lg-7 mt-4"><p  class="ibm text-center" style="
      color: white;
  ">Message your questions and another expat in London will answer you</p></div><div  class="col-12 col-lg-3 mt-3 mb-3"><div  class="subscribe_btn justify-content-center d-flex align-items-center w-100 "><button  class=" Send-Message" (click)="openExpatAdvicePopup(expatAdvice)">Send Message</button></div></div></div>
  

   <div class="row justify-content-center mt-5" style="margin-bottom:20px">
      <div class="col-10 col-lg-5 mb-3">
    
       <div style="background-color: #ffffff;color:black;border-radius:30px;padding:30px">
    <p  class="ibm" style="display:inline">
        <b>Alba Soria</b><br></p>
        <img src ="assets/images/image00002.png" style="width: 30%;
        float: right;
        position: relative;top:-30px">
      <p class="ibm">  <span style="color:grey">🔥 100 mins advising </span><br><br>
     
        🇪🇸 Spanish <br>
        📍 3 years in London  <br></p>
        <p class="ibm" > <span style="color:grey">Happy to talk to you about how to find accommodation and getting settled in the city! </span></p>
        ♥️ Coffee  &nbsp; &nbsp;♥️ Dining Out <br>
        ♥️ Travel  &nbsp; &nbsp;♥️ Concerta 
    
          <br>
          <br>
          <div class="subscribe_btn justify-content-center d-flex align-items-center w-100 mr-below"><button
           class="font-weight-bold " style="background-color: white;
           border: 2px solid orange; color: orange;" (click)="openExpatAdvicePopup(expatAdvice)">Book Call</button>
         </div>
    
      </div>
      
      

      </div>
     
    
      <div class="col-10 col-lg-5">
    
        <div style="background-color: #ffffff;color:black;border-radius:30px;padding:30px">
     <p  class="ibm" style="display:inline">
         <b>Nas Mansurali</b><br></p>
         <img src ="assets/images/image00003.png" style="width: 30%;
         float: right;
         position: relative;top:-30px">
       <p class="ibm">  <span style="color:grey">Startup Founder </span><br><br>
      
        🇵🇹 Portuguese 
        <br>
         📍 3 years in London  <br></p>
         <p class="ibm" > <span style="color:grey">I can answer any questions you may have about moving to the big city! Happy to help  </span></p>
         ♥️ F1  &nbsp; &nbsp;♥️ Football <br>
         ♥️ Travel  &nbsp; &nbsp;♥️ Politics  
     
         <br>
         <br>
         <div class="subscribe_btn justify-content-center d-flex align-items-center w-100 mr-below"><button
          class="font-weight-bold " style="background-color: white;
          border: 2px solid orange; color: orange;" (click)="openExpatAdvicePopup(expatAdvice)">Book Call</button>
        </div>
     
       </div>
       </div>
    
    
    </div>
 
</div>

<!--Review model  -->
<ng-template #expatAdvice>
  <div class="p-2" >
    <button type="button" style="    border-radius: 50%;
    border-radius: 50%;
     width: 30px;
     height: 30px;
     float: right;
     background-color: black;
     color: white;"  class="close pull-right p-cursor" (click)="modalRef.hide()">
      &times;
   </button>
   </div>
     <div class="modal-body p-4">
        <div class="row justify-content-center">
         
          <h6 class="main-title ibm text-center subtitle mb-4 mt-3">  <span
            style="color:#03989e"><i>Upgrade</i></span>    to the “Mover” package to receive personalised advice</h6>
           <div class="col-12 col-lg-6">
            <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
              <span
                style="
                  color: #008037;
                  font-size: 18px;
                  padding-left: 3px;
                  padding-right: 3px;
                  padding-top: 1px;
                  padding-bottom: 1px;
                  border-radius: 50%;
                  border: 2px solid #008037;
                  margin-right: 20px;
                "
                ><i class="fa fa-check"></i></span
              >Access to all Free <br><span style="margin-left: 50px">Features</span>
            </p>
            </div>
            <div class="col-12 col-lg-6">
              <p class="ibm mb-3 mt-3" style="text-align: left; padding: 10px">
                <span
                  style="
                    color: #008037;
                    font-size: 18px;
                    padding-left: 3px;
                    padding-right: 3px;
                    padding-top: 1px;
                    padding-bottom: 1px;
                    border-radius: 50%;
                    border: 2px solid #008037;
                    margin-right: 20px;
                  "
                  ><i class="fa fa-check"></i></span
                >Two Live Group Q&A <br><span style="margin-left: 50px"></span>Sessions
                <span style="font-size: 12px">Per Month</span>
              </p>
            </div>
            <div class="col-12 col-lg-6 mb-3">
              <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
                <span
                  style="
                    color: #008037;
                    font-size: 18px;
                    padding-left: 3px;
                    padding-right: 3px;
                    padding-top: 1px;
                    padding-bottom: 1px;
                    border-radius: 50%;
                    border: 2px solid #008037;
                    margin-right: 20px;
                  "
                  ><i class="fa fa-check"></i></span
                >Personalised support <br />
                <span style="margin-left: 50px; font-size: 12px">
                  Available Everyday</span
                >
              </p>
            </div>
            <div class="col-12 col-lg-6">
              <p class="ibm mb-3 mt-3 mr-1" style="text-align: left; padding: 10px">
                <span
                  style="
                    color: #008037;
                    font-size: 18px;
                    padding-left: 3px;
                    padding-right: 3px;
                    padding-top: 1px;
                    padding-bottom: 1px;
                    border-radius: 50%;
                    border: 2px solid #008037;
                    margin-right: 20px;
                  "
                  ><i class="fa fa-check"></i></span
                >One Personal <br />  <span style="margin-left: 50px"> Advisory 
              Call </span>
                <span style="font-size: 12px"> Per Month</span>
              </p>
            </div>
        </div>
        <div class="row justify-content-center">
         
           <div class="col-10 col-lg-5">
        <div
            style="
            border-radius: 30px;
   
    text-align: center;
    color: white;
    font-weight: bold;
    /* border: 1px; */
    background-color: #00abab;
   
    padding: 10px;
            "
          >
            <button class="mover-choose-plan" routerLink="/myplan" (click)="modalRef.hide()">
              Upgrade Plan
              <img src="assets/images/white-arrow.png" width="60" height="40" />
            </button>
          </div>
          </div>
          </div>
     </div>
</ng-template>