<section class="mt-5" >
    <div class="container">
        <!-- Main title -->
        <h1 class="main-title ibm text-center subtitle mb-3 mt-3">Packages customized <i><span style="color:#037f92;background: url('../../../assets/images/blue-bg.png') center no-repeat;background-size:cover">for you</span></i></h1>
      
        <p class="libre text-center mb-4 expats-p" 
    >Every expat’s experience is different.<b> Choose what suits  <u>you</u>.</b></p>
        <div class="row justify-content-center">
            <div class="col-10 col-lg-4 col-md-4">
                <div class="pricing">
                        <div class="ibm">Basic</div>
                        <div class="package_name ibm font-weight-bold">Free</div>

<p style="    margin-bottom: 70px"> Forever</p>           
<div style="border-radius: 30px;
margin-left: 2.5%;
text-align: center;
/* border: 1px; */
background-color: white;
width: 95%;
padding: 10px;
color:#1d2896;">
    <button class="free-choose-plan" routerLink="/signup"> Choose Plan <img src="assets/images/blue-arrow.png" width="60" height="40"></button>
</div>    
<p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
padding: 10px;"><span style="color:#008037;font-size: 18px;
      padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Moving Checklist</p>
<p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
padding: 10px;"><span style="color:#008037;font-size: 18px;
      padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Expert London  Guide</p>
    <p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
    padding: 10px;"><span style="color:#008037;font-size: 18px;
          padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Tips from other expats</p>
  
</div>



            </div>
            <div class="col-10 col-lg-4 col-md-4">
                <div class="pricing featured" style="background-color:#ffe9c9">
                    <div class="listing-badges">
                        <span class="featured">Popular</span>
                    </div>

                        <div class="ibm">Mover</div>
                        <div class="package_name ibm font-weight-bold"> £66/month</div>
                        <div class="package_name ibm font-weight-bold" style="font-size:18px">for Three months</div>

<p> Or £99 / month<br> 
  for One month </p>           
<div style="border-radius: 30px;
margin-left: 2.5%;
text-align: center;
color:white;
font-weight:bold;
/* border: 1px; */
background-color: #00abab;
width: 95%;
padding: 10px;">
    <button class="mover-choose-plan" routerLink="/signup"> Choose Plan <img src="assets/images/white-arrow.png" width="60" height="40"></button>
</div>    
<p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
padding: 10px;"><span style="color:#008037;font-size: 18px;
      padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Moving Checklist</p>
<p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
padding: 10px;"><span style="color:#008037;font-size: 18px;
      padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Expert London  Guide</p>
    <p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
    padding: 10px;"><span style="color:#008037;font-size: 18px;
          padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Tips from other expats</p>
   <p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
   padding: 10px;"><span style="color:#008037;font-size: 18px;
         padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Two Live Group Q&A <br> <span style="margin-left:50px;"></span>Sessions
           <span style="font-size:12px">Per Month</span></p>
       <p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
       padding: 10px;"><span style="color:#008037;font-size: 18px;
             padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span> One Personal Advisory  <br> <span style="margin-left:50px;"> Call </span>
           <span style="font-size:12px"> Per Month</span></p>
           <p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
           padding: 10px;"><span style="color:#008037;font-size: 18px;
                 padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Personalised support <br> <span style="margin-left:50px;;font-size:12px"> Available Everyday</span></p>
                  
                </div>
            </div>
            <div class="col-10 col-lg-4 col-md-4">
                <div class="pricing">
                    <div class="ibm">Premium</div>
                    <div class="package_name ibm font-weight-bold"> £197/month</div>
                    <div class="package_name ibm font-weight-bold" style="font-size:18px"> for Three months</div>

                    <p> Or £299 / month<br> 
                        for One month </p> <div style="border-radius: 30px;
margin-left: 2.5%;
text-align: center;
/* border: 1px; */
background-color: white;
width: 95%;
padding: 10px;
color:#1d2896;">
<button class="premium-choose-plan" routerLink="/signup"> Choose Plan <img src="assets/images/blue-arrow.png" width="60" height="40"></button>
</div>    
<p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
padding: 10px;"><span style="color:#008037;font-size: 18px;
      padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Moving Checklist</p>
<p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
padding: 10px;"><span style="color:#008037;font-size: 18px;
      padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Expert London  Guide</p>
    <p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
    padding: 10px;"><span style="color:#008037;font-size: 18px;
          padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Tips from other expats</p>
  <p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
  padding: 10px;"><span style="color:#008037;font-size: 18px;
        padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Two Live Group Q&A <br> <span style="margin-left:50px;"></span>Sessions
          <span style="font-size:12px">Per Month</span></p>
      <p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
      padding: 10px;"><span style="color:#008037;font-size: 18px;
            padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>One Personal Advisory  <br> <span style="margin-left:50px;"> Call </span>
          <span style="font-size:12px"> Per Month</span></p>
          <p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
          padding: 10px;"><span style="color:#008037;font-size: 18px;
                padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Personalised support <br> <span style="margin-left:50px;;font-size:12px"> Available Everyday</span></p>
   <p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
   padding: 10px;"><span style="color:#008037;font-size: 18px;
         padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>School Search Support</p>
 <p class="ibm  mb-3 mt-3 mr-1" style="text-align: left;
 padding: 10px;"><span style="color:#008037;font-size: 18px;
       padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;border-radius:50%;border:2px solid #008037;margin-right:20px"><i class="fa fa-check"></i></span>Relocating Pets Support</p>

</div>
            </div>
        </div>


        <!-- <h1 class="main-title ibm text-center video-subtitle mb-3 mt-3"><span style="color:#ffa400">20x</span> times  
            <i><span style="color:#037f92;background: url('../../../assets/images/blue-bg.png') center no-repeat;background-size:cover">Cheaper</span></i><br> than a relocation agency</h1>

            <p class="libre text-center" style="font-size:24px">The modern way to move abroad.</p>

            <div class="row mb-3 " style="display: flex;
            justify-content: flex-end;">
<div class="col-12 col-lg-3 text-center mb-2">
<div style="    background-color: #ffe9c9;
border-radius: 25px;
padding: 12px;">Relocation Agencies*</div>
</div>
<div class="col-12 col-lg-3 text-center">
    <div style="background-color:#ffe9c9;border-radius:30px"><img  class="p-2"src="assets/images/Icon-l.png" style="width: 66%;"></div>

    
</div>
            </div> -->
    </div>
</section>

<section class="mt-5" >
    <div class="container">
        <!-- Main title -->

        <h1 class="hiw ibm text-center subtitle mb-3 mt-3">
            <span class="cheaper">20x</span> 
            times <i><span style="color:#037f92;background: url('../../../assets/images/blue-bg.png') center no-repeat;background-size:cover">cheaper</span></i><br>
            than a relocation agency</h1>
    
        <p class="libre text-center mb-4" style="font-size: 23px;">The modern way to move abroad.</p>
        
        <!-- <div class="div-tag">
            <span class="span-tag" style="width:300px;"></span>
            <span class="span-tag" style="width:200px;">
                <div  class="subscribe_btn justify-content-center d-flex w-100 ">
                <button  class="btn-pricing">Relocation Agencies*</button>
            </div>
        </span>
        <span class="span-tag" style="width:200px;">
            <div  class="Enterprises-Email-Us justify-content-center d-flex w-100 ">
                <button  class="btn-pricing"><img src="assets/images/Icon-l.png" style="max-width:200px; width:75%" alt="logo">
                </button>
            </div>
        </span>
        </div> -->
<!-- 
        <table class="my-table">
            <tr>
              <td class="txt-bold" width='300'> House Search</td>
              <td width='200'> £2000</td>
              <td class="txt-bold"  width='200' rowspan="3">
                £66 /Month**
             </td>
            </tr>
            <tr>
              <td class="txt-bold">Set Up Support (NIN, baking, wifi, etc.) </td>
              <td>£1000</td>
            </tr>
            <tr>
              <td class="txt-bold">Connect with other expats  </td>
              <td><img src="assets/images/Delete.png" style="max-width:30px; width:100%" alt="logo"></td>
            </tr>
            <tr>
                <td class="txt-bold">School Search  </td>
                <td>£1500</td>
                <td class="txt-bold">£197 /month**</td>
            </tr>
            <tr>
                <td class="txt-bold">All the information you need  </td>
                <td><img src="assets/images/Delete.png" style="max-width:30px; width:100%" alt="logo"></td>
                <td class="txt-bold">FREE</td>
            </tr>
          </table> -->
          <div class="row justify-content-end" style="width:90%">

            <div class="col-5 col-lg-3 text-end desktop-feed">
                <div  class="subscribe_btn justify-content-center d-flex w-100 ">
                    <button  class="btn-pricing">Relocation Agencies*</button>
                </div>
                </div>
                <div class="col-4 col-lg-3 text-end mobile-tab">

                    &nbsp;
                    </div>
                <div class="col-4 col-lg-3 text-end mobile-tab" style="    position: absolute;
                right: 100px;">

                <div  class="subscribe_btn justify-content-center d-flex w-100 " >
                    <button  class="btn-pricing"> Agencies*</button>
                </div>
                </div>
               
                <div class="col-5 col-lg-3 text-end desktop-feed">

                <div  class="subscribe_btn justify-content-center d-flex w-100  " >
                    <button  class="btn-pricing"><img src="assets/images/Icon-l.png" style="max-width:200px; width:75%" alt="logo">
                    </button>
                </div>
            </div>

                <div class="col-4 col-lg-3 text-end mobile-tab" style="position: relative;
                right: -18%;">

                <div  class="subscribe_btn justify-content-center d-flex w-100 mobile-tab" >
                    <button  class="btn-pricing" style="padding:6px 20px"> Matutto</button>
                </div>
                </div>
            </div>
            
          <div class="row justify-content-center" >
           
            <div class="col-12 col-lg-9 ">
                <table class="table table-light">
              
                    <tbody>
                        <tr class="text-center">
                 
                            <td class="fw-bold border border-white border-3  w-50" > House Search</td>
                            <td class=" border border-white border-3  w-25"> £2000</td>
                            <td class="fw-bold border border-white border-3  w-25" rowspan="3"  style="vertical-align:middle">
                              £66 /Month**
                           </td>
                          </tr>
                      <tr class="text-center">
                        <td class="fw-bold border border-white border-3  w-50">Set Up Support (NIN, banking, wifi, etc.) </td>
                        <td class=" border border-white border-3  w-25">£1000</td>
                      </tr>
                      <tr class="text-center">
                        <td class="fw-bold border border-white border-3  w-50">Connect with other expats  </td>
                        <td class=" border border-white border-3  w-25"><img src="assets/images/Delete.png" style="max-width:30px; width:100%" alt="logo"></td>
                      </tr>
                      <tr class="text-center">
                          <td class="fw-bold border border-white border-3  w-50">School Search  </td>
                          <td class=" border border-white border-3  w-25">£1500</td>
                          <td class="fw-bold border border-white border-3  w-25">£197 /month**</td>
                      </tr>
                      <tr class="text-center">
                          <td class="fw-bold border border-white border-3  w-50">All the information you need  </td>
                          <td class=" border border-white border-3  w-25"><img src="assets/images/Delete.png" style="max-width:30px; width:100%" alt="logo"></td>
                          <td class="fw-bold border border-white border-3  w-25">FREE</td>
                      </tr>
                     
                    </tbody>
                  </table>
            </div>
          </div>
       
    </div>

    <div class="div-tag">
        <span class="span-tag" style="width:300px;"></span>
        <span class="span-tag" style="width:200px;">*based on avg. market price</span>
        <span class="span-tag" style="width:200px;">**when you sign up for 3 months</span>
    </div>

</section>

<section class="mt-5" >
    <div class="container">
        <!-- Main title -->
        
        <div  class="subscribe_btn justify-content-center d-flex w-100 mb-5">
            <button  class="cheaper-get-started-for-free" routerLink="/signup" >Get started for Free</button>
        </div>

        <h1 class="hiw ibm text-center subtitle mb-3 mt-3">Tailored packages for <i><span style="color:#037f92;background: url('../../../assets/images/blue-bg.png') center no-repeat;background-size:cover">enterprises</span></i></h1>
    
        <p class="libre text-center mb-4" style="font-size: 23px;">Move your employees to London swiftly <br>and  <u>without paying a fortune.</u></p>
    
        <div  class="subscribe_btn justify-content-center d-flex w-100 mt-5 ">
         <a href="mailto:admin@matutto.com">   <button class="enterprises-email-us" >Email Us</button></a>
        </div>
        <br><br>
    </div>
</section>