<div class="_pages bankinfo_page">
   
    <div class="row justify-content">
    
       <h3 class="ibm" style="text-align:left !important; margin: 10px 0px 10px 20px;">What is a National Insurance Number (NIN) ? </h3>
 
       <div class="col-12">
             <div class="span-tag" style="float:left !important;height:auto; ">
                <h3 style="margin-left:20px; text-align:left !important">
                   <span style="font-size: large;">
                    Your NIN is a unique code that ensures your National Insurance Contributions and Tax are recorded against your name.
                </span></h3>
                    <h3 style="margin-left:20px; text-align:left !important">
                        <span style="font-size: large;">
                    You need a NIN to get paid in the UK and receive payroll from your employer. 
                </span></h3>
             </div> 
       </div>
 <br>
       <h3 class="ibm" style="text-align:left !important; margin: 0px 0px 10px 20px; padding-top: 20px;">What you need to apply for a National Insurance Number</h3>

       <div class="col-12 col-lg-3 justify-content-center" >
          <div class="span-tag" style="float:left !important;height:auto;">
             <h3>
             <span  style="font-size: large;font-weight: bold;">Right To Work</span></h3>
             <spna><img src="assets/images/right-to-work.png" style="max-width:60px;width:100%;padding-bottom: 10px;" alt="logo"></spna>
             <h5 style="padding:10px">
                <span style="font-size: large;">You need to have the legal right to work  in the UK </span><br><br>
                <span style="font-size: large;font-weight: bold;">Prove your right <br>to work <a href="https://www.gov.uk/prove-right-to-work" target="_blank">here</a></span>
             </h5>
          </div>     
        </div>
 
        <div class="col-12 col-lg-6" >
            <div class="span-tag" style="float:left !important;height:auto;">
               <h3>
               <span  style="font-size: large;font-weight: bold;">Proof of Identity</span></h3>
               <h5>
                <spna><img src="assets/images/Identity.png" style="max-width:85px;width:100%;padding-bottom: 10px;" alt="logo"></spna>
                  <br><span style="font-size: large;margin-left:20px; text-align:left !important;float: left;">
                    You should be able to prove your identity. You can do so with one of these documents:
                    <ul style="list-style-type:disc; margin-left: 5px;"> 
                    <li>A passport from any country</li>
                    <li>A biometric residence permit (BRP)</li>
                    <li>A national identity card from an EU country , Norway, Liechtenstein or Switzerland</li>
                </ul>
                </span>
               </h5>
            </div>     
          </div>
 
          <br>
        <h3 class="ibm" style="text-align:left !important; margin: 10px 0px 10px 20px;">How to apply for a National Insurance Number (NIN) </h3>


    <div class="col-12 col-lg-9" >
        <div class="span-tag" style="float:left !important;height:auto;">
            <h5>
            <span style="font-size: large; text-align:left !important;">
                 <ul> 
                 <li style="margin:20px 0px 20px 0px;background-image: url('assets/images/arrow.png');background-repeat: no-repeat;background-size:20px;padding-left:30px;">You can apply online in the UK GOV website </li>
                 <li style="margin:20px 0px 20px 0px;background-image: url('assets/images/time.png');background-repeat: no-repeat;background-size:20px;padding-left:30px;">It can take up to 4 weeks to receive your NIN</li>
                 <li style="margin:20px 0px 20px 0px;background-image: url('assets/images/camara.png');background-repeat: no-repeat;background-size:20px;padding-left:30px;">Be prepared to take photos of your passport and yourself during the online application</li>
             </ul>
             </span>
            </h5>
         </div>
    </div> 

    <br>
    <div class="subscribe_btn justify-content-center d-flex">
       <a href="https://www.apply-national-insurance-number.service.gov.uk/apply/applied-before" target="_blank"> <button class="font-weight-bold free-signup-button" type="button" >Apply for your NIN</button></a>
   </div>
 
    </div>
 </div>
  
 <br>
 
 
 
 