<section >    <div class="footer-end" >

  <div class="row justify-content-center">
<div class="col-12 col-lg-3 text-center">
  <span class="footer-titles">Business Enquiries</span>
  <br> <span class="footer-sub-titles">admin@matutto.com</span>
</div>
<div class="col-12 col-lg-2 text-center"><span class="footer-titles">Social Media</span><br><span class="footer-sub-titles">@matutto</span></div>

<div class="col-12 col-lg-2 text-center"><span class="footer-titles">Read About</span><br> <span class="p-cursor footer-sub-titles" routerLink="/privacypolicy">Privacy Policy</span></div>

  <div class="col-12 col-lg-3 text-center"><span class="footer-titles">Read About</span><br> <span class="p-cursor footer-sub-titles" routerLink="/termscondition">Terms & Conditions</span></div>

  <div class="col-12 col-lg-2 text-center"><span class="footer-titles">Discover More</span><br> <span class="p-cursor footer-sub-titles" routerLink="/blogs">The Blog</span></div>

</div>

</div>
</section>