<!-- <div class="_pages healthcare_page"> -->
   <div class="p-5">
    <div class="row justify-content-center">
    
       <h3 class="ibm mb-4">Frequently Asked Questions (FAQs) about Healthcare in London </h3>
     

       
       <div class="col-12 col-lg-12 mb-4">

        <div class="accordion" id="accordionExample">
            <div class="accordion-item mb-4">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <img src="/assets/images/faq.png" class="mr-3" width="50">
                          <span style="margin-left:5px;font-weight:bold;">Is Healthcare <span style="color:#00C2CB"><em>free</em></span> in England? </span>    </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p class="mt-2"> Yes, England has a public Health system that is free, referred to as the NHS (National Health Services)</p>  
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapse-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <img src="/assets/images/faq.png" class="mr-3" width="50">

                    <span style="margin-left:5px;font-weight:bold;">What if I’m only in London for a <span class="span_align" style="color:#00C2CB"><em>short stay</em></span>? </span>                     </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p style="text-align:left !important;margin-left:30px;">
                        General Practitioner (GP) and nurse consultations or treatment in primary care are free of charge to all. 
                        <br> 
                        <img src="/assets/images/doctor.png" style="width:70px;height:70px;margin-left:5px;">
                        <img src="/assets/images/medicine.png" style="width:70px;height:70px;margin-left:5px;">
                        <img src="/assets/images/dental.png" style="width:70px;height:70px;margin-left:5px;">
                        <img src="/assets/images/focus.png" style="width:70px;height:70px;margin-left:5px;">
                    </p>
                    <br>
                    <p style="text-align:left !important;margin-left:30px;">
                        For secondary care services, you must be living lawfully in the UK on a properly settled basis to be entitled to free healthcare, otherwise you may be charged. 
                        <br> 
                        <img src="/assets/images/hospital.png" style="width:70px;height:70px;margin-left:5px;">
                        <img src="/assets/images/ambulance.png" style="width:70px;height:70px;margin-left:5px;">
                        <img src="/assets/images/emergencycontact.png" style="width:70px;height:70px;margin-left:5px;">
                    </p>
                    <br>
                    <p  style="text-align:left !important;margin-left:30px;">
                        Short-term visitors from countries who have healthcare agreements with the UK can continue to access medically necessary healthcare. This also applies to EU visitors with a 
                        <span style="color:#00C2CB"><u><a href="https://ec.europa.eu/social/main.jsp?catId=559" target="_blank"> European Health Insurance Card (EHIC).</a></u></span>
                    </p>
                </div>
              </div>
            </div>
         
          </div>
             <!-- <div class="span-tag" style="float:left !important;height:auto; ">
                <p>
                    <a data-bs-toggle="collapse" href="#collapseExample1" style="text-decoration:none !important">
                    <h5 style="text-align:left !important;color:#000000;margin-top:20px;">
                    <img src="/assets/images/faq.png" style="width:25px;height:25px;">
                    <span style="margin-left:5px;font-weight:bold;">Is Healthcare <span style="color:#00C2CB"><em>free</em></span> in England? </span>
                    <i class="bx bx-chevron-down" style="width:30px;height:30px; float:right;"></i>
                </h5>
                </a>
                  </p>
                  <div class="collapse" id="collapseExample1">
                    <p style="text-align:left !important;margin-left:30px;">
                        Yes, England has a public Health system that is free, referred to as the NHS (National Health Services) 
                  </p>
                  </div>
             </div>  -->
       </div>


       <!-- <div class="col-12  col-lg-9" style="margin-top:20px;">
        <div class="span-tag" style="float:left !important;height:auto; ">
           <p>
               <a data-bs-toggle="collapse" href="#collapseExample2" style="text-decoration:none !important">
               <h5 style="text-align:left !important;color:#000000;margin-top:20px;">
               <img src="/assets/images/faq.png" style="width:25px;height:25px;">
               <span style="margin-left:5px;font-weight:bold;">What if I’m only in London for a <span class="span_align" style="color:#00C2CB"><em>short stay</em></span>? </span>
               <i class="bx bx-chevron-down" style="width:30px;height:30px; float:right;"></i>
           </h5>
           </a>
             </p>
             <div class="collapse" id="collapseExample2">
               <p style="text-align:left !important;margin-left:30px;">
                General Practitioner (GP) and nurse consultations or treatment in primary care are free of charge to all. 
                <br> 
                <img src="/assets/images/doctor.png" style="width:70px;height:70px;margin-left:5px;">
                <img src="/assets/images/medicine.png" style="width:70px;height:70px;margin-left:5px;">
                <img src="/assets/images/dental.png" style="width:70px;height:70px;margin-left:5px;">
                <img src="/assets/images/focus.png" style="width:70px;height:70px;margin-left:5px;">
            </p>
            <br>
            <p style="text-align:left !important;margin-left:30px;">
                For secondary care services, you must be living lawfully in the UK on a properly settled basis to be entitled to free healthcare, otherwise you may be charged. 
                <br> 
                <img src="/assets/images/hospital.png" style="width:70px;height:70px;margin-left:5px;">
                <img src="/assets/images/ambulance.png" style="width:70px;height:70px;margin-left:5px;">
                <img src="/assets/images/emergencycontact.png" style="width:70px;height:70px;margin-left:5px;">
            </p>
            <br>
            <p  style="text-align:left !important;margin-left:30px;">
                Short-term visitors from countries who have healthcare agreements with the UK can continue to access medically necessary healthcare. This also applies to EU visitors with a 
                <span style="color:#00C2CB"><u><a href="https://ec.europa.eu/social/main.jsp?catId=559" target="_blank"> European Health Insurance Card (EHIC).</a></u></span>
            </p>
             </div>
        </div> 
        </div> -->

          <br>
        <h3 class="ibm mb-4" style="text-align:left !important; margin: 10px 10px 10px 20px;">How  to sort out your Healthcare in London </h3>


    <div class="col-12 col-lg-12" >
        <div class="span-tag" style="float:left !important;height:auto;">
            <h5 style="text-align:left !important;font-weight:bold;margin-top:20px;">Register with a <span style="color:#00C2CB"><em>GP</em></span> (General Practitioner) </h5>
            <br>
            <p style="text-align:left !important;">
                When you arrive to England, you will need to register with your local GP, generally the one closest to your place of residence. This will allow you to have easy access to NHS services  when you need them. 
            <br><br>
            The GP (General  Practitioners) surgeries are usually the first contact if you have a health problem. They can treat many conditions and give health advice. They can also refer you to other NHS services. 
            </p>

            <h5 style="text-align:left !important;color:#7389BB;">
                <img src="/assets/images/search.png" style="width:25px;height:25px">
                Search for “Health Centre” on Google Maps to find GPs near you </h5>
            <br>
            <p style="text-align:left !important;">Depending on the GP, you may be able to register via different methods. 
                <img src="/assets/images/www.png" style="width:25px;height:25px;margin-left:2px;">
                <img src="/assets/images/phonecall.png" style="width:25px;height:25px;margin-left:2px;">
                <img src="/assets/images/sendemail.png" style="width:25px;height:25px;margin-left:2px;">
                <br>They may ask you for personal details and to fill in <span style="color:#00C2CB"><u><a href="https://www.gov.uk/government/publications/gms1" target="_blank">this form.</a></u></span> </p>
         </div>
    </div> 

    <br>

    </div>
 </div>
  
 <br>
 
 
 
 