
  
   <div class="_pages login_page">
    <!-- <div class="container"> -->
        <div class="row align-items-center justify-content-center">
            <div  class="col-lg-1">&nbsp;</div>
           
             <div  class="col-sm-10 col-md-12 col-lg-5" >
             <h3 class="ibm text-center"> Your email is verified</h3>
             <div class="text-center">
<img src="assets/images/email_verified.png" class=" mt-2">
</div>
             
             <p  class="text-center mt-3">You can now enjoy Matutto!
            </p>

            <div class="bn-btn mb-5 mt-5" style="width:50%;margin-left:25%">
               <button class=" btn  btn_default theme w-100" routerLink="/login">Log in</button>
  
            </div>
            </div>
             <div class="col-lg-1">&nbsp;</div>
         
             <div class="col-12 col-sm-12 col-md-12 col-lg-5">
               <!-- <div class="_ttls">
                  <label>Welcome to Matutto</label>
                  <h3>Please create your account</h3>
               </div> -->
               <img src="assets/images/signup-right.png" alt="login" class="image-right">
            </div>
          </div>
     
   
    <!-- </div> -->
 </div>
 
 
 <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px' }"></ngx-loading>